*{
	font-family: "微软雅黑";
}
#aside {
	float: left;
	width: 150px;
	margin: 10px 0 0 0;
}

#aside ul li {
	list-style: none;
	background: #0066cc;
	padding: 5px;
	text-align: center;
	margin: 1px 0 0 0;
}

#aside ul li:hover{
	background: #0000cc;
}

#aside a {
	display: block;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#content {
	float: left;
	width: 850px;
	min-height: 450px;
}
.menu_on:before { content: "→"; } 